.row{
    margin-left: 20px;
}

.movies{
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.movies::-webkit-scrollbar{
    display: none;
}

.movie{
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}

.movie:hover{
    transform: scale(1.05);
}

.largeMovie{
    max-height: 450px;
}

